Package: vps
Version: 1.0
Section: utils
Priority: standard
Architecture: all
Maintainer: Vandan Savla <vds@apsit.com>
Description: The Automation Tool for easy setup of virtual servers
Depends: python3 

