Package: vps
Version: 1.0
Section: utils
Priority: Optional
Architecture: all
Maintainer: vds@apsit.com
Description: The Automation Tool for easy setup of virtual servers
# Postinst: 
Postinst: ./preinst.sh
